<!DOCTYPE html>
{% load i18n staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icomoon.css'%}">
    {% block extracss %}
    {% endblock %}
</head>
<body>
    <header class="header_login">
        <div class="nav_login">
            <div>
                <li><span class="titulo">M</span><i>anaged</i> <span
                        class="titulo">A</span><i>ccount</i>
                </li>
            </div>
            <div class="div_ayuda">
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Documentación</a></li>
                <li><a href="http://www.eltiempo.com/tecnosfera/novedades-tecnologia">Ultimas Novedades</a></li>
            </div>   
            <div class="div_signup">
                {% block login %}
                <li><a href="{% url 'signup' %}"class="signup" >Sign Up</a></li>
                {% endblock %}
            </div>
        </div>
    </header>
    <section>
        {% block signup %}
        <div id="login">
            <form method="post"class="login" role="form">{% csrf_token %}
                <div class="control-login">
                <label><img src="{% static 'img/usuario.png' %}">:</label>
                <input id="id_username" autofocus  placeholder="Usuario"  maxlength="30" name="username" type="text" />
                    <!-- {{ form.username }} --> 
                </div>
                <div class="control-login">
                <label><img src="{% static 'img/clave.png' %}">:</label>
                <input id="id_password" placeholder="Contraseña" name="password" type="password" />
                <!-- {{ form.password }} -->
                </div>
                <div class="control-login">                    
                    <input type="submit" value="Log in"/>
                </div>
            </form>
        </div>
        {% endblock %}
    </section>
    <footer>
        <div class="footer_login">
        </div>
        <div class="footer_login">
        </div>
    </footer>
</body>
</html>
