{% extends 'home.html' %}
{% load i18n staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'css/proveedor_result.css' %}">
{% endblock %}
{% block buscar_proveedores %}
<div class="buscar_proveedores">
            <aside class="asideprovee">
                <article>
                    <div class="">
                        <a href="#" class="indicador"><i>Proveedor: </i></a>
                        <input type="text" class="provee">
                    </div>
                </article>
                <article>
                    <div class="button">
                        <a href="#" class="button-proveedor">Filtrar</a> 
                        <a href="#" class="button-proveedor">Exportar</a> 
                    </div>
                </article>
            </aside>
            <aside class="asideprovee">
                <table class="zebra">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>RUC/DNI</th>
                            <th>Dirección</th>
                            <th>Teléfono/Celular</th>
                            <th>E-mail</th>
                            <th>Contacto</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>

                {%for proveedor in proveedor_list %}
                    <tr>
                        <td>{{ proveedor.rsocial }}</td>
                        <td>{{ proveedor.rod }}</td>
                        <td>{{ proveedor.direccion }}</td>
                        <td>{{ proveedor.toc }}</td>
                        <td>{{ proveedor.email }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.descripcion }}</td>
                    </tr>
                {% endfor %}
               </table>
           </aside>
       </div>
{% endblock %}
