{% extends 'home.html' %}
{% load i18n staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'css/proveedor_result.css' %}">
{% endblock %}
{% block buscar_proveedores %}

        <!-- <form action="/proveedores/search/" method="GET"> -->
            <!-- <input name="buscar" type="TEXT"> -->
            <!-- <button type="submit" value="Search">Search</button> -->
        <!-- </form> -->
<div class="buscar_proveedores">
            <aside class="asideprovee">
                <article>
                    <div class="div_buscar">
                        <form class="form_buscar" action="/proveedores/search/" method="GET">
                            <fieldset>
                                <label id="label_proveedor">Proveedor:</label>
                                <input name="buscar"class="provee" type="text">
                                <button type="submit" class="button-proveedor"value="Search">Search</button>
                            </fieldset>
                        </form>
                    </div>
                </article>
                <!-- <article> -->
                <!--     <div class="button"> -->
                <!--         <a href="#" class="button-proveedor">Buscar</a> -->
                <!--         <a href="#" class="button-proveedor">Exportar</a> --> 
                <!--     </div> -->
                <!-- </article> -->
            </aside>
            <aside class="asideprovee">
                <table class="zebra">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>RUC/DNI</th>
                            <th>Dirección</th>
                            <th>Teléfono/Celular</th>
                            <th>E-mail</th>
                            <th>Contacto</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>

                {%for proveedor in proveedor_list %}
                    <tr>
                        <td>{{ proveedor.rsocial }}</td>
                        <td>{{ proveedor.rod }}</td>
                        <td>{{ proveedor.direccion }}</td>
                        <td>{{ proveedor.toc }}</td>
                        <td>{{ proveedor.email }}</td>
                        <td>{{ proveedor.contacto }}</td>
                        <td>{{ proveedor.descripcion }}</td>
                    </tr>
                {% endfor %}
               </table>
           </aside>
       </div>

{% endblock %}
