.sub_menu, .compras_add{
    position:relative;
    display:inline-block;
}
#add_articulos{
    position:relative;
    /* display:inline-block; */
    top:50px;
    overflow:auto;
    width:994px;
}
.guardar_compra{
    position:relative;
    padding-top:70px;
    margin-left:79%;
}
#button{
    position:relative;
    margin-right:7%;
}
