.compra{
	position: relative;
	display: inline-block;
	padding: 10px 14px;
    top:0;
    /* background:#cdcdcd; */
    background:#81D4FA;
    border-radius:12px;
    /* left:3%; */
    /* margin-bottom:500px; */
}
.zebra{
    position:relative;
    /* right:20px; */
}
.sub_menu, .compra{
    position:relative;
    display:inline-block;
    
}
.compra_cabeza{
    position:relative;
    top:0;
    /* left:24%; */
}
/* input[type="text"],input[type="datetime"],input[type="number"]{ */
/* 	outline: none; */
/* 	padding: 7px 8px; */
/* 	border-radius: 7px; */
/* 	border: 1px solid #84ffff; */
/* 	background: #f5f5f5; */	
/* 	width: 210px; */

/* } */
/* input[type="text"]:focus,input[type="datetime"]:focus, input[type="number"]:focus{ */
/* 	border: 1px solid #03a9f4; */
/* 	-webkit-transition:0.7s; */
/* } */
/* .tipo_producto, select{ */
/* 	outline: none; */
/* 	padding: 6px 5px; */
/* 	border-radius: 7px; */
/* 	color: #03a9f4; */
/* 	cursor: pointer; */
/* 	font-size: 16px; */
/* } */
/* .control_lado{ */
/*     position:relative; */
/*     display:inline-block; */
/* } */
/* .control-group{ */
/* 	margin-bottom: 10px; */
/* } */
/* .control-group label { */
/*   text-align: right; */
/*   display: inline-block; */
/*   vertical-align: middle; */
/*   width: 10em; */
/*   line-height: 1.7em; */
/*   margin: 0 1em 0 0; */
/* } */
/* fieldset{ */
/* 	border: none; */
/* } */
/* legend{ */
/* 	font-size: 20px; */
/* 	color: #03a9f4; */
/* 	text-align: center; */
/* } */
