#footer_world{
    position:relative;
    background:#006064;
    padding:16px;
    font-family:arial;
    border-top:4px solid #00BCD4;
}
#footer_world div div{
    position:relative;
    display:inline-block;
    padding:10px;
}
#footer_world div div li{
    color:#f5f5f5;
    font-size:18px;
}

#footer_world div div{
    list-style-type:none;
}
#footer_world div div a{
    text-decoration:none;
    color:#f5f5f5;
    font-size:18px;
}
