#modal {
	left:50%;
	margin:-130px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the modal appear when targeted */
	#modal:target {
		opacity: 1;
		top:35%;
		visibility: visible;
        border-radius:12px;
        /* background:#cdcdcd; */
	}
#modal .titulo_modal, #modal .footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 8px 8px 0 0;
}
	#modal .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		border-radius: 0 0 12px 12px;
        background:#00e676;
	}
#modal  .h2_modal {
	margin:0;
    padding:10px;
    color:#03a0f4;
    border-radius:12px 12px 0 0;
    /* background:#009688; */
    background:#00e676;
	/* color: #18DDDB; */
    /* color:#03a9f4; */
    /* color:#f5f5f5; */
	font-size: 20px;
}
#modal .btn {
	float:right;
}
#modal .save_button, #modal .footer {
	padding:16px;
}
#modal .save_button{
    margin: 0 0 3px 0;
}
.modal-content {
	background: #f7f7f7;
	position: relative;
	z-index: 20;
	border-radius:12px;
}
#modal .copy {
	background: #fff;
}
 
#modal .overlay {
	background-color: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
    /* cursor: pointer; */
    /* background-color: rgb(119, 119, 119); */
}

/* Estilos Modal  */
#button{
    position:relative;
    padding:0 14px 0 0;    
    /* margin: 10px 0 0 0; */
    float:right;
    top:14px;
}
.button_modal{
    position:relative;
    text-decoration:none;
    color:#03a9f4;
    /* color:#fff; */
    font-size:16px;
    font-weight:bold;
    padding:8px;
    /* left:right; */
    border-radius:8px;
    background:#009688;
    /* background:#00e676; */
    -webkit-box-shadow:4px 4px 4px 0 #18ffff;
    box-shadow: 4px 4px 0 0 #18ffff;

}
.button_modal:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00ffee), color-stop(1, #378de5));
    color:#f5f5f5;
}
.button_modal:focus{
    box-shadow:none;
    -webkit-transition:0.4s;
}
.button_modal:active{
    position:relative;
    top:1px;
}

.footer{
    position:relative;
    /* padding:18px; */
    /* background:#18ffff; */
    /* background:#00E676; */

}
.titulo_modal .h2_modal{
}
