.sub_menu, .productos_list{
    position:relative;
    display:inline-block;

}
.productos_list{
    background:#69F0AE;
    border-radius:12px;
    padding:16px;
    overflow:auto;
    margin-left:80px;
    margin-bottom:34px;
}
.productos_list .zebra tr td{
    text-align:center;
    font-size:18px;
    color:#004D40;
}
