{% extends "base.html" %}
{% block contenido %}
<p>Productos registrados </p>
    <a href="/productoAdd/" class="btn btn-success">agregar</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>afecto</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
    {% for producto in productos %}
        <tr>
            <td>{{producto.code}}-{{producto.number}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.afecto}}</td>
            <td>{{producto.stock}}</td>
            <td><a href="/productoEdit/{{producto.id}}" class='btn btn-info'>editar</a></td>
            <td><a href="/productoDelete/{{producto.id}}" class='btn btn-warning'>borrar</a></td> 
        <tr>
        {% empty %}
        <tr>
            <td>No hay Productos registrados</td>
        </tr>
        {% endfor %}
    </tbody>  
{% endblock %}
