{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static 'css/sistema_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="css/compra.css"> -->
    {% block extracss %}
    {% endblock %}
</head>
<body>        
    <nav>
        <!-- <div class="nav_principal name"> -->
        <!--     <h1>Managed Account</h1> -->
        <!-- </div> -->
        <div   id="cssmenu">   
            <ul class="nav_inicio">
                <li class="active"><a href="/">Home</a></li>                
                <li class='has-sub '><a href="#">Sistema</a>
                    <ul>
                        <li class='has-sub '><a href='#'>Articulo</a>
                            <ul>
                                <li><a href='{% url 'productos:productos_c'%}'>Añadir Articulo</a></li>
                                <li><a href='#'>Sub Item</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Caja</a></li>
                        <li><a href="{% url 'proveedores:proveedor_l'%}">Proveedores</a></li>
                      
                    </ul>
                </li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <ul class="config_user">
                <li class="avatar"><img src="{% static 'img/person1.png' %}"  height="30" width="30"></li>
                <li class='has-sub  'class="user"><a href="#">{{ user  }}</a> 
                    <ul>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Cambiar Contraseña</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- <div class="nav_principal" id="white"> -->
        <!--     <form method="get" action="/search" id="search"> -->
        <!--         <input name="q" type="text" size="40" placeholder="Search..." /> -->
        <!--     </form> -->
        <!-- </div> -->
    </nav>
    <section>
        <article class="cuerpo">
            <div class="sub_menu">
                <h2><a href="{% url 'compras:compras_c'%}">Comprar</a></h2>
                <h2><a href="{% url 'factura_venta' %}">Vender</a></h2>
                <details>
                    <summary><b>Registros</b></summary>
                    <a href="{% url 'compras:compras_l' %}"><i>Compras</i></a><br>
                    <a href="#"><i>Ventas</i></a><br>   
                    <a href="#"><i>Libro Diario</i></a>
                </details>
                <h2><a href="{% url 'clientes:clientes_l'%}">R. Clientes</a></h2>
                <h2><a href="{% url 'proveedores:proveedor_c'%}">R. Proveedor</a></h2>
                <h2><a href="{% url 'productos:productos_c'%}">R. Articulos</a></h2>
            </div>
            {% block compras_add %}
            {% endblock %}
            {% block producto_add  %}
            {% endblock %}
            {% block registro_compras %}
            {% endblock %}
            {% block agregar_clientes %}
            {% endblock %}
            {% block buscar_clientes %}
            {% endblock %}
            {% block registrar_proveedor %}
            {% endblock %}
            {% block buscar_proveedores %}
            {% endblock %}
            {% block search_proveedor_result %}
            {% endblock %}
        </article>
        
    </section>
    <footer id="footer_world">
        <div>
            <div>
                <li><img class="logo_empresa"src="{% static 'img/logo.png' %}"></li>
                <li>
                    Comunicanos al N° 999-666777
                </li>
                <li>Escribanos a nuestro correo <a class="pagina" href="#">http://wwww.sistemaContable.com.pe</a></li>
            </div>
            <div>
                <li><a class="github" href="#"><img src="{% static 'img/github.png' %}" width="26.6" height="22.16"> GitHub</a></li>                    
                <li><a class="facebook" href="#"><span
                            class="icon-facebook"></span> Facebook</a></li>  
                <li><a class="twitter" href="#"><span
                            class="icon-twitter"></span> Twitter</a></li>                    
                <li><a class="plus" href="#"><span
                            class="icon-google-plus"></span> Google Plus</a></li>                    
            </div>
            <div>
                <li><a class="terminos" href="#">Servicios y Términos de Licencia</a></li>
                <li>Todos los Derechos Reservados &#174 2015</li>
            </div>
        </div>
    </footer>
    
</body>
</html> 
