{% extends 'home.html' %}
{% load i18n staticfiles %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/control_div.css' %}">
    <link rel="stylesheet" href="{% static 'css/cliente_list.css' %}">    {% endblock %}
{% block buscar_clientes %}
    <div class="buscar_clientes">
            <div class="facilitador">
                <div class="segundo"> 
                    <label><b>Buscar por:</b>
                        <select class="opciones" >
                            <option>Ninguno</option>
                            <option>RUC</option>
                            <option>Razon Social</option>
                        </select>
                    </label> 

                    <a href="#" class="busco">Buscar</a>
                    <input class="buscar" type="text" placeholder="Estas buscando por ">
                </div>
            </div>
            <div class="tabla">
                <table class="zebra">
                    <caption class="registro"><em>Registro de Clientes</em></caption>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Razon Social</th>
                            <th>Tipo de Cliente</th>
                            <th>Tipo de Documento</th>
                            <th>Dirección</th> 
                            <th>Teléfono/Celular</th> 
                            <th>Estado</th> 
                            <th>Editar</th> 
                            <th>Eliminar</th> 
                        </tr> 
                    </thead>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                                
                        </tr>
                    </tfoot>
                    {% for cliente in cliente_list %}
                    <tr>
                        <td>{{ cliente.id  }}</td>
                        <td>{{ cliente  }}</td> 
                        <td>{{ cliente.get_tcliente_display }}</td> 
                        <td>{{cliente.rod}}</td>
                        <td>{{cliente.direccion}} </td>
                        <td>{{cliente.toc}}</td>
                        <td>{{ cliente.get_estado_display }}</td>
                        <td><a href="{% url 'clientes:clientes_u' cliente.pk %}" class="editar"><img src="{% static 'img/img/editar.png' %}" alt=""width="30px" height="30px"></a></td> <!--<a href="#" class="editar"><span class="icon-editar"></span></a>-->
                        <td><a href="#" class="eliminar"><img src="{% static 'img/img/remove.png' %}" alt="" width="30px" height="30px"></a></td> <!--<a href="#" class="eliminar"><span class="icon-papelera"></span></a>-->
                    </tr>
                    {% endfor%}
                </table>                
                <a href="#modal" class="agregar"><span class="icon-agregar-archivo"></span> Agregar</a>
            </div> 
            <div id="modal">
                 <div class="modal-content">
                     <div class="titulo_modal">
                         <h2 class="h2_modal">Agregando Articulos</h2>
                     </div>
                     <div class="campos_list_client">
                         <form class="items" action="#" method="post">
                             <fieldset>  
                                 <div class="control_lado">
                                     <div  class="control-group"> 
                                         <label>Razon Social</label>
                                         <input placeholder="Razon Social"  type="text">
                                     </div> 
                                     <div  class="control-group">
                                         <label>Tipo de Cliente:</label>
                                         <select>
                                             <option></option>
                                         </select>
                                     </div> 
                                     <div  class="control-group">
                                         <label>Tipo de Documento:</label>
                                         <select>
                                             <option>RUC</option>
                                             <option>DNI</option>
                                         </select>
                                     </div>  
                                 </div>
                                 <div class="control_lado">
                                     <div  class="control-group">
                                         <label>Dirección:</label>
                                         <input placeholder="Dirección" type="number">                                        
                                     </div> 
                                     <div  class="control-group">
                                         <label>Teléfono/Celular:</label>
                                         <input placeholder="Precio de Venta" type="number">
                                     </div> 
                                     <div  class="control-group">
                                         <label>Estado:</label>
                                         <select>
                                             <option></option>
                                         </select>
                                     </div> 
                                 </div>
                                 <div id="button" class="save_button">
                                     <a href="#" class="button_modal"><span class="icon-guardar"></span><span class="mls"> Aceptar</span></a>
                                     <a href="#" class="button_modal"><span class="icon-salir1"></span><span class="mls"> Cancelar</span></a>
                                 </div>
                             </fieldset>
                         </form>
                         <div class="footer button">
                             <a href="#" class="button_modal"><span class="icon-retroceder"></span><span class="mls"> Atras</span></a>
                         </div> 
                     </div>			
                 </div>
             </div> 
         </div>

        <!-- <form action="/clientes/search/" method="GET"> -->
        <!--     <input name="buscar" type="TEXT"> -->
        <!--     <button type="submit" class="btn btn-success" value="Search">Search</button> -->
        <!-- </form> -->
{% endblock %}
