{% extends 'home.html' %}
{% load i18n staticfiles %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/caja.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="{% static 'css/cliente_list.css' %}">    
{% endblock %}
{% block buscar_clientes %}
    <div class="buscar_clientes">
            <div class="facilitador">
                <div class="segundo">   
                    <form class="form_buscar" action="/clientes/search/" method="GET">
                        <fieldset>
                            <label id="label_proveedor">Cliente:</label>
                            <input name="buscar"class="provee" type="text">
                            <button type="submit" class="button-cliente"value="Search">Buscar</button>
                        </fieldset>
                    </form> 
                </div>
            </div>
            <div class="tabla">
                <table class="zebra">
                    <caption class="registro"><em>Registro de Clientes</em></caption>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Razon Social</th>
                            <th>Tipo de Cliente</th>
                            <th>Tipo de Documento</th>
                            <th>Dirección</th> 
                            <th>Teléfono/Celular</th> 
                            <th>Estado</th> 
                            <th>Editar</th> 
                            <th>Eliminar</th> 
                        </tr> 
                    </thead>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                                
                        </tr>
                    </tfoot>
                    {% for cliente in cliente_list %}
                    <tr>
                        <td>{{ cliente.id  }}</td>
                        <td>{{ cliente  }}</td> 
                        <td>{{ cliente.get_tcliente_display }}</td> 
                        <td>{{cliente.rod}}</td>
                        <td>{{cliente.direccion}} </td>
                        <td>{{cliente.toc}}</td>
                        <td>{{ cliente.get_estado_display }}</td>
                        <td><a href="#" class="editar"><img src="{% static 'img/img/editar.png' %}" alt=""width="30px" height="30px"></a></td> <!--<a href="#" class="editar"><span class="icon-editar"></span></a>-->
                        <td><a href="#" class="eliminar"><img src="{% static 'img/img/remove.png' %}" alt="" width="30px" height="30px"></a></td> <!--<a href="#" class="eliminar"><span class="icon-papelera"></span></a>-->
                    </tr>
                    {% endfor%}
                </table>                    
         </div>

{% endblock %}
